{% extends 'index.html' %}
{% load static %}

{% block news %}

<div class="container p-5" >
	<div class="row p-3 mt-5">
		<h4 class="text-center fw-bold">Новости</h4>
		<h5 class="mt-1 mb-5 text-center">Последние новости</h5>
		{% for news in last_news %}
		<div class="col-sm-6 col-md-4 col-12 d-flex align-items-stretch p-3 fade-up">	
			<div class="mt-3 news-card ">
				<a href="{% url 'news:one_news' news.id %}" class="news-link">
					<img src="{{ news.image.url }}" class="card-img-top rounded-0" alt="...">
					<div class="news-body">
						<p class="news-title">{{ news.title }}</p>
						<p class="news-text">{{ news.summary|slice:":90" }}...</p>
					</div>
					<div class="p-3 news-time">
						{{ news.created_at }}
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
		<div class="text-center mt-5 fade-up">
			<a class="btn btn-gold btn-lg" href="{% url 'news:all_news' %}">Все новости</a>
		</div>

	</div>
</div>	
{% endblock %}	

{% block services %}
<h4 class="text-center fw-bold">Что мы можем</h4>
<h5 class="mt-1 mb-5 text-center">Мы рады предложить Вам следующие виды услуг:</h5>
{% for service in services %}
<div class="col-6"><i class="bi bi-circle me-2"></i>{{ service.title }}</div>
{% endfor %}
{% endblock %}

{% block projects %}

<div class="container px-5">
	<div class="row px-3 align-items-start">

		<h4 class="text-center fw-bold fade-up">Наши проекты</h4>
		<h5 class="mt-4 mb-5 text-center fade-up">
			Ознакомьтесь с некоторыми из наших проектов и посмотрите, как мы преображаем мир.
		</h5>
		{% for project in chosen_projects %}
		<div class="col-md-6 col-12 p-3 fade-up">	
			<div class="mt-3 card prj-card ">
				<a href="{% url 'projects:project' project.id %}" class="prj-link">
					<img src="{{ project.image.url }}" class="prj-card-img rounded-0" alt="...">
					<div class="prj-card-body">
						<p class="prj-card-title">{{ project.title }}</p>
						<p class="prj-card-sum">{{ project.summary}}...</p>
						<div class="prj-time">Период проекта {{ project.period }}</div>
					</div>

				</a>
			</div>
		</div>
		{% endfor %}
		<div class="text-center mt-5 fade-up">
			<a class="btn btn-gold btn-lg" href="{% url 'projects:projects' %}">Все проекты</a>
		</div>

	</div>
</div>
{% endblock %}

{% block partners %}
<div class="container-fluid px-5 mb-5	">
	<div class="row p-5 mx-5 justify-content-center">
		<h4 class="text-center fw-bold fade-up">Наши партнеры</h4>
		<h5 class="mt-4 mb-5 text-center fade-up">
			Ознакомьтесь с некоторыми из наших парнетров и с компаниями с которыми мы сотрудничаем
		</h5>
		{% for partner in partners %}
		<div class="col-3 d-flex align-items-stretch fade-up">
			<div class="card-partner">
				<img src="{{ partner.image.url }}" class="partner-logo">
				<p class="partner-title">{{ partner.title }}</p>
				<!-- <p class="partner-desc">{{ partner.description|slice:":50" }}...</p> -->
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}